# 6.1. WHR_Data Consistency Checks

### This script contains the following points:

#### 0. Importing Libraries
#### 1. Importing the Data Files
#### 2. Exploring the Data
#### 3. Descriptive Statistics (data accuracy numeric columns)
#### 4. Data Consistency Checks
#### 4.1. Mixed-Type Data
#### 4.2. Missing Values
#### 4.3. Duplicates
#### 5. Renaming Columns 
#### 6. Exporting the new cleaned dataframe

# 0. Importing Libraries

In [1]:
# Import libraries: pandas, NumPy and os.

import pandas as pd
import numpy as np
import os

# 1. Importing the Data Files

In [2]:
# folder path to my main project folder is now stored within variable 'path'

path = r'/Users/pau/10-06-2024 World Happiness Report'

#### Importing the “WHR_2019.csv” data set into my Jupyter notebook using the os library as df_ords

In [3]:
# using the os.path.join() function to simplify the importing data and create dataframe: whr

df_whr = pd.read_csv(os.path.join(path,'02 Data','Original Data','WHR_2019.csv'), index_col = False)

# 2. Exploring the Data

In [4]:
# #  This function displays the first 20 rows of the dataframe 

df_whr.head(20)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226
10,11,Australia,7.228,1.372,1.548,1.036,0.557,0.332,0.290
11,12,Costa Rica,7.167,1.034,1.441,0.963,0.558,0.144,0.093
12,13,Israel,7.139,1.276,1.455,1.029,0.371,0.261,0.082
13,14,Luxembourg,7.090,1.609,1.479,1.012,0.526,0.194,0.316
14,15,United Kingdom,7.054,1.333,1.538,0.996,0.450,0.348,0.278
15,16,Ireland,7.021,1.499,1.553,0.999,0.516,0.298,0.310
16,17,Germany,6.985,1.373,1.454,0.987,0.495,0.261,0.265
17,18,Belgium,6.923,1.356,1.504,0.986,0.473,0.160,0.210
18,19,United States,6.892,1.433,1.457,0.874,0.454,0.280,0.128
19,20,Czech Republic,6.852,1.269,1.487,0.920,0.457,0.046,0.036

In [5]:
# This function displays the last 20 rows of the dataframe

df_whr.tail(20)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
136,137,Egypt,4.166,0.913,1.039,0.644,0.241,0.076,0.067
137,138,Zambia,4.107,0.578,1.058,0.426,0.431,0.247,0.087
138,139,Togo,4.085,0.275,0.572,0.410,0.293,0.177,0.085
139,140,India,4.015,0.755,0.765,0.588,0.498,0.200,0.085
140,141,Liberia,3.975,0.073,0.922,0.443,0.370,0.233,0.033
141,142,Comoros,3.973,0.274,0.757,0.505,0.142,0.275,0.078
142,143,Madagascar,3.933,0.274,0.916,0.555,0.148,0.169,0.041
143,144,Lesotho,3.802,0.489,1.169,0.168,0.359,0.107,0.093
144,145,Burundi,3.775,0.046,0.447,0.380,0.220,0.176,0.180
145,146,Zimbabwe,3.663,0.366,1.114,0.433,0.361,0.151,0.089
146,147,Haiti,3.597,0.323,0.688,0.449,0.026,0.419,0.110
147,148,Botswana,3.488,1.041,1.145,0.538,0.455,0.025,0.100
148,149,Syria,3.462,0.619,0.378,0.440,0.013,0.331,0.141
149,150,Malawi,3.410,0.191,0.560,0.495,0.443,0.218,0.089
150,151,Yemen,3.380,0.287,1.163,0.463,0.143,0.108,0.077
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [6]:
# checking the titles of the columns: df whr

df_whr.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [7]:
# dimensions of whr dataframe: rows and columns

df_whr.shape

(156, 9)

#### To find the data type of a column we can use both of the following functions:

df.info() function

df.dtypes function

In [8]:
# using df.info()function to find basic information about the dataframe

print(df_whr.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB
None

In [9]:
# Change "Overall rank" column data type to string ? 

#df_whr['Overall rank'] = df_whr['Overall ranl'].astype('str')

# Check the results of the change
#df_whr['Overall rank'].dtype

# 3. Descriptive Statistics

#### df.describe() function

**The `df.describe()` function returns descriptive statistics for the numeric values in our dataframe.**

In [10]:
# checking descriptive statistics: count, mean, standard deviation, minimum, lower quartile, median, upper quartile, and maximum.

df_whr.describe()

,Overall rank,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603
std,45.177428,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538
min,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000
50%,78.500000,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500
75%,117.250000,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250
max,156.000000,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000

#### Output

The df.describe() function returns descriptive statistics for the numeric values in the dataframe.
 Using these results, we can begin investigating the **data accuracy of the numeric columns** in the df_whr dataframe

# 4. Data Consistency Checks

### Some of the most common checks to perform on data to confirm its consistency. 
These include:

**1 . Finding and addressing mixed data types**
 
**2. Finding and addressing missing values**
 
**3. Finding and addressing duplicate records**

# 4.1. Mixed-Type Data

- A mixed-type column is a column that includes both string values and numeric values.
- It is a common reason for changing the data type of a column.
- We always have to check for these mixed-type columns before moving forward with any analytical work, as they can break functions and generally cause problems in your procedures.

In [11]:
# function for checking whether a dataframe contains any mixed-type columns

for col in df_whr.columns.tolist(): # structure used in this code is 'for-loop'
    weird = (df_whr[[col]].map(type) != df_whr[[col]].iloc[0].apply(type)).any(axis = 1) # !=  Not equal
    if len (df_whr[weird]) > 0:
        print(col)

In [12]:
# Double checking with alternative method for identifying columns with mixed-type data

for col in df_whr.columns.tolist():
    weird = (df_whr[[col]].map(type) != df_whr[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_whr[weird]) > 0:
        print (f"Mixed-type data found in column: {col}")
    else: print(f"No mixed-type data in column: {col}")

No mixed-type data in column: Overall rank
No mixed-type data in column: Country or region
No mixed-type data in column: Score
No mixed-type data in column: GDP per capita
No mixed-type data in column: Social support
No mixed-type data in column: Healthy life expectancy
No mixed-type data in column: Freedom to make life choices
No mixed-type data in column: Generosity
No mixed-type data in column: Perceptions of corruption

#### Output: "df_whr" appears to have no columns with mixed-type data to correct

# 4.2. Missing Values

- missing values can occur for two reasons:
    - 1) data corruption, or
    - 2) they were never recorded in the first place.
- IMP: investigate and address any missing values in our data when conducting an analysis in Python.
- They can break your functions and throw errors in your analytical procedures.
- IMP when deriving, or creating new variables.

In [13]:
# Looking for missing values in df_whr dataframe

df_whr.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

### Finding Missing Values

#### df.isnull().sum()

- The find missing values I used the function `isnull()` to the `df_whr`dataframe, then sum the result with the attached `sum()` function.
- it returned `False` values, which can also be interpreted numerically as 0.

#### Output: There are any column with missing values

# 4.3. Duplicates

- common occurrence when working with data. 
- they need to be handled with care and investigated thoroughly.
-  important to know what kind of duplicates exist in our data.

In [14]:
# Checking for duplicates in df_whr by creating a new subset that contains only duplicates

df_dups = df_whr[df_whr.duplicated()]

In [15]:
# calling the df_dups dataframe. 
# This will display all the duplicate rows within the dataframe df_whr

df_dups

Empty DataFrame
Columns: [Overall rank, Country or region, Score, GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption]
Index: []

#### Finding Duplicates
- I’ll look for full duplicates—multiple rows that have the exact same values in every column, single duplicates aren’t actually inconsistencies in our data. 
- Describing the command that I used to look for full duplicates within our dataframe: This code creates a new subset of `df_whr`—`df_dups`—containing *only* rows that are duplicates.
- The result does not display values saved within the new `df_dups` dataframe, because there are any duplicate rows.

#### Output: No duplicate values were found in the dataframe.

# 5. Renaming Columns

#### df.rename() function

Syntax, To change the name of a column:

df.rename(columns = {'old_name' : 'new_name'}, inplace = True) 

-  inplace = true: means that you want to overwrite the original column name with this new column name rather than creating a new copy.

In [16]:
# Renaming the columns for clarity
df_whr.rename(columns = {'Overall rank' : 'rank'}, inplace = True)
df_whr.rename(columns = {'Country or region' : 'country_or_region'}, inplace = True)
df_whr.rename(columns = {'Score' : 'happiness_score'}, inplace = True)
df_whr.rename(columns = {'GDP per capita' : 'GDP_per_capita'}, inplace = True)
df_whr.rename(columns = {'Social support' : 'social_support_score'}, inplace = True)
df_whr.rename(columns = {'Healthy life expectancy' : 'life_expectancy'}, inplace = True)
df_whr.rename(columns = {'Freedom to make life choices' : 'freedom_score'}, inplace = True)
df_whr.rename(columns = {'Generosity' : 'generosity_score'}, inplace = True)
df_whr.rename(columns = {'Perceptions of corruption' : 'corruption_perception_score'}, inplace = True)

In [17]:
# checking whether the code was executed successfully by running the df.head() function:

df_whr.head()

,rank,country_or_region,happiness_score,GDP_per_capita,social_support_score,life_expectancy,freedom_score,generosity_score,corruption_perception_score
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [18]:
# checking the columns to verify the change

print(df_whr.columns)

Index(['rank', 'country_or_region', 'happiness_score', 'GDP_per_capita',
       'social_support_score', 'life_expectancy', 'freedom_score',
       'generosity_score', 'corruption_perception_score'],
      dtype='object')

In [19]:
# Descriptive statistics with new column names
df_whr.describe()

,rank,happiness_score,GDP_per_capita,social_support_score,life_expectancy,freedom_score,generosity_score,corruption_perception_score
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603
std,45.177428,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538
min,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000
50%,78.500000,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500
75%,117.250000,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250
max,156.000000,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000

# 6. Exporting the new cleaned dataframe

In [20]:
# Performing a final check of the dataframe before exporting

print(df_whr.head())
print(df_whr.info())
print(df_whr.shape)

   rank country_or_region  happiness_score  GDP_per_capita  \
0     1           Finland            7.769           1.340
1     2           Denmark            7.600           1.383
2     3            Norway            7.554           1.488
3     4           Iceland            7.494           1.380
4     5       Netherlands            7.488           1.396

   social_support_score  life_expectancy  freedom_score  generosity_score  \
0                 1.587            0.986          0.596             0.153
1                 1.573            0.996          0.592             0.252
2                 1.582            1.028          0.603             0.271
3                 1.624            1.026          0.591             0.354
4                 1.522            0.999          0.557             0.322

   corruption_perception_score
0                        0.393
1                        0.410
2                        0.341
3                        0.118
4                        0.298
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   rank                         156 non-null    int64
 1   country_or_region            156 non-null    object
 2   happiness_score              156 non-null    float64
 3   GDP_per_capita               156 non-null    float64
 4   social_support_score         156 non-null    float64
 5   life_expectancy              156 non-null    float64
 6   freedom_score                156 non-null    float64
 7   generosity_score             156 non-null    float64
 8   corruption_perception_score  156 non-null    float64
dtypes: float64(7), int64(1), object(1)
memory usage: 11.1+ KB
None
(156, 9)

In [21]:
# Exporting the final cleaned “df_whr" data as "clean_whr_2019.csv"

df_whr.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'WHR_2019_cleaned.csv'))

#### Data consistency checks performed during this exercise and exported the new cleaned WHR_2019 dataframe as 'clean_whr_2019.csv' and stored it in your “Prepared Data” folder.